<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/llama.ico">
  </head> 
  <body>
    <div class="main-content">
      {{>header}}
      <p>Use this site to get your weather.</p>
      <form>
        <input placeholder="Location">
        <button>Search</button>
      </form>
      <p id="message-1"></p>
      <p id="message-2"></p>
      <button id="speak">Say It!</button>
    </div>
    {{>footer}}
    <script src="/js/bundle.js"></script>
  </body>
</html>